* {
margin : 0;
}

@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

:root {
    --color-900: rgb(32, 32, 48);
    --color-600: rgb(65, 234, 212);
    --color-300: rgb(251, 255, 18);
    --color-100: rgb(161, 23, 129);
    --color-50: rgb(255, 255, 255);
    --main-font: "Centra", sans-serif
}

html {
    scroll-behavior: smooth;
  }
    
