.container {
    display: flex;
    justify-content: center;
    min-height: 97vh;
    padding-top: 50px;
    background-color: rgb(7, 12, 20);
    min-height: 97vh;
}

.titleContainer {
    display: flex;
    min-width: 40%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.shadow {
    width: 20%;
    font-size: 150px;
    margin-top: -50px;
    font-weight: bolder;
    color: rgb(218, 227, 229, 0.1);
}

.title {
    font-size: 50px;
    color: rgb(161, 198, 234)
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(187, 209, 234)
}

.text {
    font-size: 18px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}

.button {
    padding: 5px;
    padding-inline: 30px;
}

.techsContainer {
    display: flex;
    margin: 1em;
    margin-top: 5em;
    justify-content: space-evenly;
    align-items: center;
}

.tech {
    display: flex;
    height: 50px;
    align-items: center;
    margin: 0.5em;
}

.image {
    border-radius: 5px;
    object-fit: content;
    background-color: rgb(218, 227, 229);
    height: 35px;
    padding: 5px;
}