.grid_container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding-top: 12px;
}

.return {
	position: fixed;
	color: var(--color-600);
	z-index: 10;
	top: 16px;
	right: 16px;
	background: none;
	border: none;
}

.grid_item {
	width: 80%;
	align-self: center;
}

.grid_item {
	animation: scaleIn 600ms cubic-bezier(0.71, 0.55, 0.62, 1.57) 100ms both;
}

.card_container {
	width: 100%;
	height: 100%;
	margin: 0em auto;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
}

.item_card,
.item_card_details {
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
}
.item_card_details {
	background-color: var(--color-50);
}

.image_wrapper {
	border-radius: 0.45em 0.45em 0 0 ;
	float: left;
	max-height: 45vh;
	width: 100%;
	order: -1;
	position: relative;
	overflow: hidden;
}

.image_wrapper::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("../../assets/img/outreachvids.png");
	background-size: cover;
	background-position: center;
	filter: blur(8px);
	z-index: -1;
}

.techContainer {
	display: flex;
  	flex-wrap: wrap;
	position: absolute;
	bottom: 0;
	width: 100%;
	justify-content: center;
	margin-bottom: 6px;
}
.tech {
	background-color: var(--color-100);
    color: var(--color-50);
    border-radius: 8px;
    margin: 2px 4px;
    padding: 2px 8px;
	display: flex;
	justify-content: center;
	z-index: 1000;

}

.featured_image {
	position: relative;
	z-index: 1;
	width: 100%;
	border-radius: 0.45em 0.45em 0 0;
	object-fit: contain;
	object-position: top;
	height: 100%;
}

.bio_block {
	display: flex;
	flex-direction: column;
}

.title {
	color: #888;
	opacity: 0.6;
	font-size: 1.5em;
	margin-top: 12px;
	padding: 0 12px;

}

.bio_text {
	line-height: 180%;
	color: #313b40;
	opacity: 0.85;
	font-size: 1em;
	margin: 12px 0;
	padding: 0 12px;

}

.more_info {
	padding: 0.5em 1em;
	background-color: var(--color-900);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.more_info p:nth-child(1) {
	padding: .5em;
}

.item_buttons {
	background-color: var(--color-900);
	display: flex;
	width: 100%;
}

.github, 
.demo,
.button_detals {
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

.github:focus,
.demo:focus, 
.btn_details:focus {
	outline: 2px solid #000;
}

.btn_details,
.demo {
	display: block;
	color: #fff;
	float: left;
	width: 50%;
	font-size: 1rem;
	box-sizing: border-box;
	border: none;
	padding: 1rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin: 0;
	transition: color 200ms ease-in 0s;
}

.wrapper .front_buttons,
.wrapper .back_arrow {
	display: none;
}

.wrapper.frontback_cards .front_buttons,
.wrapper.frontback_cards .back_arrow {
	display: block;
}

.wrapper .on_back {
	width: 100%;
	border-radius: 0 0 0.45em 0.45em;
}
.on_back_noBorder {
	border-radius: 0;
}

.wrapper.frontback_cards .on_back {
	width: 50%;
	border-radius: 0 0 0.45em 0;
}


.blue {
	background-color: #4972c1;
	background: linear-gradient(90deg, #72a1ff, #4972c1, var(--color-900), #4972c1, #72a1ff);
	background-size: 400% 400%;
	background-position: 0% 50%;
	/* border-radius: 0 0 0.45em 0; */
}

.blue:hover {
	animation: gradientMove 6s ease infinite;
}

.github {
	color: var(--color-600);
	font-weight: 800;
	position: relative;
}

.github::after {
	content: "";
	display: block;
	position: absolute;
	margin: 0;
	left: 0;
	bottom: -25%;
	height: 0.2em;
	width: 100%;
	background-color: #4972c1;
	background: linear-gradient(90deg, #72a1ff, #4972c1, #34579e, #4972c1, #72a1ff);
	background-size: 400% 400%;
	background-position: 0% 50%;
	transition: all 0.2s ease-in 0s;
}

.github:hover::after {
	height: 0.5em;
	animation: gradientMove 6s ease both;
}

@keyframes gradientMove {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes scaleIn {
	0% {
		opacity: 0;
		transform: scale(0.9, 0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}