.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: rgb(7, 12, 20);
    min-height: 97vh;
}



.cardsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImageCont {
    height: 10em;
}

.cardImage {
    max-height: 100%;
    object-fit: contain;
}

.tecBoxCard {
    display: flex;
    
}