.bannerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 23em;
    justify-content: center;
    margin: 1em;
    width: 100%;
}

.carrouselItem, .carrouselItemActive {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    border: 2px blue solid;
}
.carrouselItem{
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.5s ease-in-out;
}

.carrouselItemActive {
    transition: 0.5s ease-in-out;
    transform: scale(1);
}

.imageCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 30em;
}

.image {
    width: 100%;
    height: 100%;
}

.tecBoxBanner {
    display: flex;
    flex-direction: row;
}

.leftArrow, .rightArrow {
    position: absolute;
    font-size: 35px;
    top: 50%;
    transform: translate(0, -50%);
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    padding: 4px;
    padding-bottom: 8px;
    cursor: pointer;
}
.rightArrow{
    right: 15px;
}
.leftArrow{
    left: 15px;
}

.pagination {
    display: flex;
    width: 100px;
    height: 30px;
    bottom: 35px;
    justify-content: space-between;
    align-items: center;
    position: absolute;

}

.page, .pageActive {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.pageActive{
    background-color: grey;
    transform: scale(1.4);
}

