/* * {
  border: 1px solid red;
} */

.container {
  display: flex;
  height: 97vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -3em;
  font-size: 50px;
}

.languajes {
  display: flex;
  flex-direction: row;
}

.image {
  width: 40em;
}

.button {
  text-align: center;
  width: 100px;
  background-color: white;
  text-decoration: none;
}