/* * {
  border: 1px solid red;
} */

.container {
  display: flex;
  height: 97vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

@keyframes slideUp {
  0% {
    transform: translateY(8%); /* Posición inicial, más arriba */
    opacity: 0;
  }
  35% {
    transform: translateY(8%); /* Se mantiene arriba mientras se vuelve completamente visible */
    opacity: 0.3;
  }
  100% {
    transform: translateY(0); /* Se desliza hacia la posición normal */
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-8%); /* Posición inicial, más arriba */
    opacity: 0;
  }
  35% {
    transform: translateY(-8%); /* Se mantiene arriba mientras se vuelve completamente visible */
    opacity: 0.3;
  }
  100% {
    transform: translateY(0); /* Se desliza hacia la posición normal */
    opacity: 1;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  animation: slideDown 1.5s ease-out forwards;
}

.content, .content2, .description{
  justify-content: left;
  align-items: center;
  font-size: 30px;
  color: rgb(218, 227, 229);
  padding: 20px;
}

.name{
  font-size: 50px;
  color: var(--title-color);
}

.description {
  font-size: 15px;
  font-weight: 400;
  padding-top: 0;
}

.languajes {
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 10px
}

.imageContainer, .imageContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  animation: slideUp 1.5s ease-out forwards;
}
.imageContainer2 {
  display: none;
  padding: 0 3em;
}

.image {
  display: flex ;
  width: 100%;
  /* padding: 50px; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

.button2 {
  text-align: center;
  color: rgb(161, 198, 234)
  /* width: 100px;
  background-color: white;
  text-decoration: none; */
}
.button {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: #212121;
  border: 0.08em solid rgb(80, 125, 188);
  border-radius: 0.3em;
  font-size: 12px;
  margin: 20px;
}

.button .spanButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: rgb(7, 12, 20);
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid rgb(80, 125, 188);
  box-shadow: 0 0.4em 0.1em 0.019em rgb(161, 198, 234);
}

.button .spanButton:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 rgb(218, 227, 229);
}

.button .spanButton:not(hover) {
  transition: all 1s;
}

.socialContainer {
  display: flex;
  justify-content: center;
}

.imageButton {
  background-color: transparent;
  border: 0;
  :hover{
    cursor: pointer;
  }
}

.imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(218, 227, 229, 0.3);
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
  margin: 1em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

.socialImg {
  height: 3em;  
  width: 3em;
  color: var(--title-color);
  /* background-color: #212121;
  margin: 5px; */
}

@media (max-width: 768px) {

  .grid {
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px
  }

  .content, .content2{
    font-size: 25px;
  }

  .textContainer {
    margin-top: 10%;
    text-align: center;
    align-items: center;
  }

  .imageContainer {
    display: none;
  }

  .imageContainer2 {
    display: block;
    margin-bottom: 3em;
  }

  .imageBox {
    width: 3.5em;
    height: 3.5em;
  }
  .socialImg {
    height: 2.5em;
  }
}

@media (max-width: 480px) {
  .name {
    font-size: 35px;
  }
}


