/* * {
    border: 1px red solid;
} */

.container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    background-color: rgb(7, 12, 20);
    min-height: 97vh;
    gap: 60px;
}

.titleContainer {
    display: flex;
    padding: 20px;
}

.title {
    font-size: 50px;
    color: rgb(161, 198, 234)
}

.secondContainer {
    display: flex;
    
}

.content {
    display: flex;
    justify-content: flex-end;
    color: rgb(187, 209, 234);
    width: 100%;
    margin-left: 50px;
}

.shadowTitle, .shadowTitleOculto {
    width: 100%;
    font-size: 150px;
    font-weight: bolder;
    transition: 2s;
}
.shadowTitle {
    margin-top: -42px;
    color: rgb(218, 227, 229, 0.1);
    position: absolute;
}
.shadowTitleOculto{
    color: rgb(218, 227, 229, 0);
    
}

.secondBlock {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.linea, .lineaOculta {
    border-top: 5px solid rgb(218, 227, 229); 
    width: 25%;
    transition: 2s;
}
.linea{
    margin-left: -40px;
}
.lineaOculta{
    margin-left: -260px;
}

.infoContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imageContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    min-width: 200px;
}

.infoBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 200px;
    gap: 1em;
}

.contactInfo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.photo {
    display: flex;
    width: 90%;
    border-radius: 50%;
}

.socialContainer {
    display: flex;
    justify-content: center;
}

.imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(218, 227, 229, 0.3);
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
    margin: 1em;
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

.socialImg {
    height: 3em;
}

.formMap {
    display: flex;
    /* margin-top: 2em; */
    justify-content: center;
    /* border-top: rgb(187, 209, 234) 2px solid; */
    /* padding-top: 1em; */
}

.formContainer {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right top, rgba(80, 125, 188, 0.2), rgba(161, 198, 234, 0.2));
    padding: 2em;
    align-items: flex-start;
    border-radius: 20px;
    width: 40%;
    /* min-width: 200px; */
    box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.5);
    margin: 2em 0;
}

.formTitle{
    font-size: 1.4em;
    margin-bottom: 1em;
    display: flex;
    width: 100%;
    justify-content: center;
    color: var(--title-color); 
}

.label{
    color: white;
}

.input {
    border-radius: 5px;
    border-style: none;
    height: 2em;
    width: 100%;
    background-color: rgba(7, 12, 20, 0.3);
    color: white;
    padding-left: 0.5em;
    margin: 5px 0;
}
.input:focus {
    outline: 1px solid #507dbc;
}

.message {
    height: 10em;
}

.submit {
    margin: 0.5em;
    margin-top: 2em;
    padding: 0.5em 3em;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(7, 12, 20);
    color: rgb(218, 227, 229);
    align-self: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.submit:hover {
    background-color: rgb(80, 125, 188);
    transition: .5s;
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {

    .formContainer {
        width: 70%;
    }
    .content {
        margin-left: 0;
    }

}