.container {
    display: flex;
    flex-direction: column;
    height: 94vh;
    padding-top: 50px;
    background-color: rgb(7, 12, 20);
    min-height: 97vh;
}

.title {
    font-size: 50px;
    color: rgb(161, 198, 234)
}

.content {
    display: flex;
    color: rgb(187, 209, 234)

}

.shadowTitle, .shadowTitleOculto {
    width: 20%;
    font-size: 150px;
    font-weight: bolder;
    transition: 2s;
}
.shadowTitle {
    margin-top: -42px;
    color: rgb(218, 227, 229, 0.1);
    position: absolute;
}
.shadowTitleOculto{
    color: rgb(218, 227, 229, 0);

}

.secondBlock {
    margin-left: 17em;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.linea, .lineaOculta {
    border-top: 5px solid rgb(218, 227, 229); 
    width: 25%;
    transition: 2s;
}
.lineaOculta{
    margin-left: -130px;
}

.infoContainer {
    display: flex;
}

.socialContainer {
    display: flex;
}

.formMap {
    display: flex;
    margin-top: 4em;
    justify-content: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right top, rgb(218, 227, 229), rgb(161, 198, 234));
    padding: 2em;
    align-items: center;
    border-radius: 20px;
}

.input {
    border-radius: 5px;
    border-style: none;
    height: 2em;
    width: 15em;
    background-color: rgb(80, 125, 188);
    color: white;
    padding-left: 0.5em;
}
.input:focus {
    outline: none;
}

.message {
    height: 10em;
}

.submit {
    margin: 0.5em;
    margin-top: 2em;
    height: 2em;
    width: 10em;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(7, 12, 20);
    color: rgb(218, 227, 229); 
}